# Chave da API da OpenAI (você deve obter a sua em https://platform.openai.com/)
OPENAI_API_KEY=your_openai_api_key

# Modelo de linguagem a ser utilizado (pode ser gpt-4, gpt-3.5-turbo, etc.)
MODEL=gpt-3.5-turbo-0125

# Modelo usado para gerar embeddings
EMBEDDING_MODEL=text-embedding-3-small

# Dimensão do vetor de embedding (ex: 1024 para text-embedding-3-small)
EMBEDDING_DIMENSIONS=1024

# Diretório onde os documentos estão armazenados
DOCS_DIR=datasets